.main {
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.searchBar {
  margin: 15vh auto 15vh auto;
}
.carousel {
  display: flex;
  flex-direction: row;
  align-items: top;
  height: 30vh;
}
.book {
  max-width: 200px;
}
.book_img {
  height: 20vh;
  width: auto;
  max-width: 200px;
  object-fit: cover;
}
.list {
  padding: 0;
  margin: 0;
}

.list li {
  text-decoration: none;
  list-style-type: none;
}
