.nav {
  background-color: var(--medium);
  color: #ffffff;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links > * {
  margin-left: 60px;
  font-weight: 600;
  font-size: 20px;
}

.logo {
  width: auto;
  height: 62px;
}

.button:hover {
  cursor: pointer;
}

.hamburger {
  width: 33px;
  height: 23px;
}

.button:hover {
    cursor: pointer;
}